[submodule "components/linux/src"]
	path = components/linux/src
	url = ../muen/linux.git
[submodule "tools/mugenschedcfg"]
	path = tools/mugenschedcfg
	url = ../muen/mugenschedcfg.git
[submodule "components/libxhcidbg"]
	path = components/libxhcidbg
	url = ../libxhcidbg.git
	branch = muen
[submodule "components/spark_runtime/src"]
	path = components/spark_runtime/src
        url = https://github.com/Componolit/ada-runtime.git
        branch = muen
[submodule "components/cai/src"]
	path = components/cai/src
	url = https://github.com/Componolit/ada-interface.git
